<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ysd.crm.dao.RegisterMapper">
    
    <insert id="insertEmployeeCheck" parameterType="employee">
        insert into employeecheck(e_id,e_name,ec_checkInTime,ec_checkStatus) 
        values((select e_id from employee where e_loginName = #{e_loginName}),#{e_loginName},now(),1);
    </insert>
    
    <select id="selectIsTodayHaveCheckIn" parameterType="employeeCheck" resultType="_int">   
        select count(1) from employee e inner join employeecheck ec on e.e_loginName = ec.e_name 
        where e.e_loginName = #{e_name} and ec_checkInTime BETWEEN #{ec_checkInTime} AND #{ec_checkOutTime}
    </select>
    
    <select id="selectIsTodayHaveCheckOut" parameterType="employeeCheck" resultType="_int">
        select count(1) from employeecheck
        where e_name = #{e_name} and ec_checkOutTime BETWEEN #{ec_checkInTime} AND #{ec_checkOutTime}
    </select>
    
    <update id="updateEmployeeCheck" parameterType="employeeCheck">
        update employeecheck
        set ec_checkOutTime = now()
        where e_name = #{e_name} and ec_CheckInTime BETWEEN #{ec_checkInTime} AND #{ec_checkOutTime}
    </update>
    
    <update id="updateEmployeeCheckStatus" parameterType="employee">
        update employee set e_ext4 = 1 where e_loginName = #{e_loginName}
    </update>
    
    <update id="updateEmployeeCheckOutStatus" parameterType="employee">
        update employee set e_ext4 = 2 where e_loginName = #{e_loginName}
    </update>
    
    <update id="updateEmployeeCheckCheckOutStatus" parameterType="employeeCheck">
        update employeecheck
        set ec_checkStatus = 2
        where e_name = #{e_name} and ec_CheckInTime BETWEEN #{ec_checkInTime} AND #{ec_checkOutTime}
    </update>
    
    <select id="selectIsAsker" parameterType="employee" resultType="_int">
        select a.a_id from asker a where a.a_name = #{e_loginName}
    </select>
    
    <update id="updateAskerCheckInTime" parameterType="employee">
        update asker set a_checkInTime = now() where a_name = #{e_loginName}
    </update>
    
    <update id="updateAskerCheckInStatus" parameterType="employee">
        update asker set a_checkStatus = 1 where a_name = #{e_loginName}
    </update>
    
    <update id="updateAskerCheckOutTime" parameterType="employee">
        update asker set a_checkOutTime = now() where a_name = #{e_loginName}
    </update>
    
    <update id="updateAskerCheckOutStatus" parameterType="employee">
        update asker set a_checkStatus = 2 where a_name = #{e_loginName}
    </update>
    
</mapper>