<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ysd.crm.dao.RoleMapper">
		<resultMap type="role" id="roles">
				<id column="r_id" property="id"/>
				<result column="r_name" property="text"/>
	    </resultMap>
		<select id="selectRoleAll" parameterType="pagination" resultType="role">
				select r_id ,r_name  from role
				limit #{page},#{pageSize}
		</select>
		<select id="selectRoleCount" parameterType="pagination" resultType="int">
				select count(1)  from role
				limit #{page},#{pageSize}
		</select>
		<insert id="insertRole" parameterType="role">
				insert into role (r_name) values(#{r_name})
		</insert>
		<delete id="deleteRole" parameterType="int">
				delete from role where r_id=#{id}
		</delete>
		<update id="updateRole" parameterType="role">
				update role set r_name=#{r_name} where r_id=#{r_id}
		</update>
		<select id="selectroleree" parameterType="int" resultType="int">
				select count(1) from employeerole where r_id=#{id}
		</select>
		<insert id="addrolemodule" parameterType="role">
					insert into rolemodules (r_id,m_id) values(#{r_id},#{mid})
		</insert>
		<select id="selectName" resultType="role">
				select r_name from role
		</select>
		<delete id="deleteRoleModuleById" parameterType="int">
				delete from rolemodules where m_id=#{id}
		</delete>
		<delete id="deleteModuleByRoleId" parameterType="int">
				delete from rolemodules where r_id=#{id}
		</delete>
</mapper>